Day 2/Smart Document Understanding/Nodered Flow/Discovery.json
[{"id":"b71c4dd9.5f25","type":"tab","label":"Customer Helpdesk","disabled":false,"info":""},{"id":"fb4b8f04.36c9d","type":"ui_form","z":"b71c4dd9.5f25","name":"","label":"","group":"910c29e.05758d8","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":300,"wires":[["763f530c.58da6c"]]},{"id":"8932908.2c9d17","type":"watson-conversation-v1","z":"b71c4dd9.5f25","name":"Customer Care","workspaceid":"dc2b483a-d2c2-4b8b-8aa3-f206c038a2ee","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/21267409-007b-4433-af62-7fe68d377850","timeout":"","optout-learning":false,"x":540,"y":160,"wires":[["e2c4ebe4.62f078","66d96a31.838574"]]},{"id":"763f530c.58da6c","type":"function","z":"b71c4dd9.5f25","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["8932908.2c9d17","75fb93e4.56a46c"]]},{"id":"66d96a31.838574","type":"function","z":"b71c4dd9.5f25","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":240,"wires":[["9c0c6a16.caa6b8"]]},{"id":"e2c4ebe4.62f078","type":"debug","z":"b71c4dd9.5f25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":80,"wires":[]},{"id":"75fb93e4.56a46c","type":"ui_text","z":"b71c4dd9.5f25","group":"910c29e.05758d8","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":390,"y":360,"wires":[]},{"id":"9c0c6a16.caa6b8","type":"ui_text","z":"b71c4dd9.5f25","group":"910c29e.05758d8","order":3,"width":11,"height":3,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":850,"y":320,"wires":[]},{"id":"910c29e.05758d8","type":"ui_group","z":"","name":"Chatbot","tab":"70427b9d.2d1534","order":1,"disp":true,"width":11,"collapse":false},{"id":"70427b9d.2d1534","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]