Day 3/KnowledgeStudio/Nodered1.txt
[{"id":"46036e88.fac37","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"264aa731.13a858","type":"function","z":"46036e88.fac37","name":"","func":"msg.url = \"https://gateway.watsonplatform.net/natural-language-understanding/api/v1/analyze?version=2018-03-16&text=\"+msg.payload.t+\"&features=entities&entities.model=4dec343b-7ff3-497f-9464-b40040fc8830\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":120,"wires":[["31bd6377.6f528c","f2efeda3.ae6d7"]]},{"id":"31bd6377.6f528c","type":"http request","z":"46036e88.fac37","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":120,"wires":[["144cd4fa.5f6c9b","2cee1ec3.70ce82"]]},{"id":"144cd4fa.5f6c9b","type":"debug","z":"46036e88.fac37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"786e68ea.333f98","type":"ui_form","z":"46036e88.fac37","name":"","label":"","group":"c53dbc3e.73d","order":0,"width":"20","height":"4","options":[{"label":"text","value":"t","type":"text","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":120,"wires":[["264aa731.13a858"]]},{"id":"f2efeda3.ae6d7","type":"debug","z":"46036e88.fac37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":40,"wires":[]},{"id":"91b007de.8c5f98","type":"function","z":"46036e88.fac37","name":"text node","func":"msg.url = \"https://gateway.watsonplatform.net/natural-language-understanding/api/v1/analyze?version=2018-03-16&text=Valentines%20Day%20Offer%2c%20get%20Rs.10000%20cashback%20%2b%20No%20Cost%20EMI%20on%20all%20models%20of%20iPad.%20Valid%20till%20Feb%2014%20at%20your%20nearest%20Imagine.%20https%3a%2f%2fgoo.gl%2fhFJcfk&features=entities&entities.model=4dec343b-7ff3-497f-9464-b40040fc8830\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["31bd6377.6f528c"]]},{"id":"557ecadf.f4dea4","type":"inject","z":"46036e88.fac37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["91b007de.8c5f98"]]},{"id":"fa959f06.3f165","type":"ui_template","z":"46036e88.fac37","group":"c53dbc3e.73d","name":"","order":2,"width":"20","height":"6","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>SMS analysis</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n    background-color: #00838F!important;\n\t}\n\th4 {\n    color: #fff;\n\t}\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #307d76;\n\t\tborder-color: #307d76;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #bd6666;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t<br>\n\t\t\t\t\t\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t<h5> Analysed SMS  </h5>\n\t\t\t<table class=\"table\">\n\t\t\t\t<thead class=\"thead-dark\">\n\t\t\t\t  <tr>\n\t\t\t\t\t<th>Type</th>\n\t\t\t\t\t<th>Text</th>\n\t\t\t\t\t<th>Confidence</th>\n\t\t\t\t\n\t\t\t\t  </tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody id=\"scoretable\">\n\t\t\t\t</tbody>\n\t\t\t  </table>\n\t\t\t  \n\t\t\t </div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t</div>\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.type;\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.text;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.confidence;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t\t\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":780,"y":120,"wires":[[]]},{"id":"2cee1ec3.70ce82","type":"function","z":"46036e88.fac37","name":"","func":"msg.payload=msg.payload.entities\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["fa959f06.3f165"]]},{"id":"c53dbc3e.73d","type":"ui_group","z":"","name":"Sms","tab":"df16b515.6b56e8","order":1,"disp":true,"width":"20","collapse":false},{"id":"df16b515.6b56e8","type":"ui_tab","z":"","name":"SMS","icon":"dashboard","disabled":false,"hidden":false}]
