Day 2/nodechatbot.json
[{"id":"bfa3f49a.91c8b8","type":"watson-speech-to-text","z":"99c4e25b.184b8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"pXBiwFjCoU29n0d3TvDhRqPo9weMIFPUnSvsDKtfLgi-","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/21a58341-a201-46f0-85d3-8c6dc5ac3e3d","x":279.00000381469727,"y":21.000001907348633,"wires":[["b291e524.bf6d38"]]},{"id":"fdf7c6a1.8a7698","type":"debug","z":"99c4e25b.184b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":515.0000228881836,"y":202,"wires":[]},{"id":"8cd926a7.b35d68","type":"microphone","z":"99c4e25b.184b8","name":"","x":104.00001525878906,"y":20,"wires":[["bfa3f49a.91c8b8"]]},{"id":"b291e524.bf6d38","type":"watson-conversation-v1","z":"99c4e25b.184b8","name":"","workspaceid":"7b2932cf-52b9-482b-9a86-61510d7cb513","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7afc33c8-28d1-47eb-a30e-f35bb807d20f","timeout":"","optout-learning":false,"x":335.0000305175781,"y":102.00000381469727,"wires":[["fdf7c6a1.8a7698","9df542d5.d3ca8"]]},{"id":"7223b484.48495c","type":"ui_text","z":"99c4e25b.184b8","group":"e9e2e18b.02068","order":2,"width":"11","height":"3","name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":1182.6000633239746,"y":139.20000457763672,"wires":[]},{"id":"f2908f8b.d06af","type":"inject","z":"99c4e25b.184b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":101.60002517700195,"y":56.00000190734863,"wires":[["b291e524.bf6d38"]]},{"id":"d2e66aec.75ae58","type":"function","z":"99c4e25b.184b8","name":"Text response parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.text;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.text[i]\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730.6001739501953,"y":152.00000286102295,"wires":[["7223b484.48495c","3cb671f4.3659ae","2793b5dc.15b4da","1fa3e7c.aecd818"]]},{"id":"2640bc12.165b34","type":"ui_form","z":"99c4e25b.184b8","name":"","label":"","group":"54053ce1.d2b654","order":1,"width":0,"height":0,"options":[{"label":"User","value":"user","type":"text","required":false,"rows":null}],"formValue":{"user":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":94.00000762939453,"y":90.00000286102295,"wires":[["4c711c25.54f894"]]},{"id":"4c711c25.54f894","type":"function","z":"99c4e25b.184b8","name":"Input","func":"msg.payload= msg.payload.user\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":137.60000228881836,"y":166.00000381469727,"wires":[["b291e524.bf6d38"]]},{"id":"c2a77c5a.2a791","type":"http request","z":"99c4e25b.184b8","name":"","method":"use","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1007.9999313354492,"y":21.000003814697266,"wires":[["78208b57.7eab14"]]},{"id":"78208b57.7eab14","type":"base64","z":"99c4e25b.184b8","name":"Encode","action":"","property":"payload","x":1173.3644752502441,"y":20,"wires":[["b3e1da13.18fea8"]]},{"id":"b3e1da13.18fea8","type":"ui_template","z":"99c4e25b.184b8","group":"e9e2e18b.02068","name":"Display image","order":3,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1358.3643798828125,"y":20,"wires":[[]]},{"id":"9df542d5.d3ca8","type":"switch","z":"99c4e25b.184b8","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":550.3999710083008,"y":102.00000190734863,"wires":[["745e3781.1c59f8"],["2949bc25.efc044"],["d2e66aec.75ae58"]]},{"id":"745e3781.1c59f8","type":"function","z":"99c4e25b.184b8","name":"Image parser for Image Output","func":"msg={\n    \"url\":msg.payload.output.generic[0].source,\n    \"method\":\"GET\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":752.0000686645508,"y":20,"wires":[["c2a77c5a.2a791","f5a72e18.628bc"]]},{"id":"3cb671f4.3659ae","type":"function","z":"99c4e25b.184b8","name":"Image Reset","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1301.2002182006836,"y":200.00001525878906,"wires":[["b3e1da13.18fea8"]]},{"id":"f5a72e18.628bc","type":"function","z":"99c4e25b.184b8","name":"Reset Text Box","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1023.2001266479492,"y":70.00000762939453,"wires":[["7223b484.48495c"]]},{"id":"2949bc25.efc044","type":"function","z":"99c4e25b.184b8","name":"Options Parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.generic[0].options;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.generic[0].options[i].label\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":727.6000709533691,"y":91.4000015258789,"wires":[["7223b484.48495c","2793b5dc.15b4da"]]},{"id":"2793b5dc.15b4da","type":"watson-text-to-speech","z":"99c4e25b.184b8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_OliviaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"P9IhzEphAHt-cRD3X7FoNSOQIzV-42BywgKeLalsSIxe","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/c8a6c0e8-b8ab-46ad-b8e2-3b8bdcbfb5c9","x":915.200023651123,"y":465.0000081062317,"wires":[["adbe5a45.846278"]]},{"id":"adbe5a45.846278","type":"ui_audio","z":"99c4e25b.184b8","name":"","group":"e9e2e18b.02068","voice":"","always":"","x":968.400016784668,"y":519.0000047683716,"wires":[]},{"id":"1fa3e7c.aecd818","type":"watson-translator","z":"99c4e25b.184b8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"3nAtdyxZkSwJRRDK8d5LnOi9UNPF69kA0S97NSoi75HA","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/0377b1a0-0863-44d8-9fb8-d5de3db1cf4e","x":1214.0000190734863,"y":299.00000381469727,"wires":[["87c56bc2.c10d18"]]},{"id":"87c56bc2.c10d18","type":"debug","z":"99c4e25b.184b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1518.6001205444336,"y":301.0000047683716,"wires":[]},{"id":"e9e2e18b.02068","type":"ui_group","z":"","name":"","tab":"84e4dcb1.874ed","order":3,"disp":true,"width":"11","collapse":false},{"id":"54053ce1.d2b654","type":"ui_group","z":"","name":"","tab":"84e4dcb1.874ed","order":1,"disp":true,"width":"11","collapse":false},{"id":"84e4dcb1.874ed","type":"ui_tab","z":"","name":"Restaurant Bot","icon":"dashboard","disabled":false,"hidden":false}]