Day 2/Tone Analyzer.json
[{"id":"fedfdbb5.962978","type":"watson-tone-analyzer-v3","z":"df7df1e7.3c55e","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://gateway-lon.watsonplatform.net/tone-analyzer/api","x":295,"y":168.00000190734863,"wires":[["76b6b067.d9145","c9076977.d423e8"]]},{"id":"8c161e2b.b932f","type":"inject","z":"df7df1e7.3c55e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"text\":\"Hello, I'm very happy with your product.\",\"user\":\"customer\"},{\"text\":\"OK, let me know what's going on, please.\",\"user\":\"agent\"},{\"text\":\"Well, actually it is working nice:(\",\"user\":\"customer\"},{\"text\":\"Sorry to hear that.\",\"user\":\"agent\"}]","payloadType":"json","x":108,"y":281,"wires":[["fedfdbb5.962978","b686d5c0.9ab6d8"]]},{"id":"c9076977.d423e8","type":"debug","z":"df7df1e7.3c55e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":114,"wires":[]},{"id":"76b6b067.d9145","type":"function","z":"df7df1e7.3c55e","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":453,"y":60,"wires":[["c9076977.d423e8","737a959a.22abfc"]]},{"id":"737a959a.22abfc","type":"ui_chart","z":"df7df1e7.3c55e","name":"","group":"4102e5d9.94f02c","order":3,"width":"13","height":"8","label":"Sentiment Analysis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#55747d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":717.0000076293945,"y":330.0000057220459,"wires":[[]]},{"id":"b686d5c0.9ab6d8","type":"debug","z":"df7df1e7.3c55e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":302.6000061035156,"y":309,"wires":[]},{"id":"4bb4f082.ab82a","type":"inject","z":"df7df1e7.3c55e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" [     {       \"text\": \"Hello, I'm having a problem with your product.\",       \"user\": \"customer\"     },     {       \"text\": \"OK, let me know what's going on, please.\",       \"user\": \"agent\"     },     {       \"text\": \"Well, nothing is working :(\",       \"user\": \"customer\"     },     {       \"text\": \"Sorry to hear that.\",       \"user\": \"agent\"     }   ]","payloadType":"json","x":152,"y":371,"wires":[["fedfdbb5.962978"]]},{"id":"2992d8f9.6a6a68","type":"watson-tone-analyzer-v3","z":"df7df1e7.3c55e","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/14667fc5-b6a6-4a40-82a0-2cbe982a3d92","x":374.00000762939453,"y":582,"wires":[["b5c5c420.4f0d08"]]},{"id":"19419d19.919a43","type":"debug","z":"df7df1e7.3c55e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":624.0000076293945,"y":542,"wires":[]},{"id":"b5c5c420.4f0d08","type":"function","z":"df7df1e7.3c55e","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar te=0\nvar n=\"\"\nvar ut=msg.response.document_tone.tones;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.document_tone.tones[i].length\n        n=msg.response.document_tone.tones[i].tone_name;\n       if(msg.response.document_tone.tones[i].tone_name==\"Anger\"){\n           p=p+1\n       }\n       else if(msg.response.document_tone.tones[i].tone_name==\"Fear\"){\n           s=s+1\n       }\n       else if(msg.response.document_tone.tones[i].tone_name==\"Joy\"){\n           fr=fr+1\n       }\n       else if(msg.response.document_tone.tones[i].tone_name==\"Sadness\"){\n           ip=ip+1\n       }\n       else if(msg.response.document_tone.tones[i].tone_name==\"Analytical\"){\n           sa=sa+1\n       }\n        else if(msg.response.document_tone.tones[i].tone_name==\"Confident\"){\n           sy=sy+1\n       }\n        else if(msg.response.document_tone.tones[i].tone_name==\"Tentative\"){\n           te=te+1\n       }\n        \n    \n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy,te],\n    \"labels\": [ \"Anger\",\"Fear\", \"Joy\",\"Sadness\",\"Analytical\",\"Confident\",\"Tentative\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;","outputs":1,"noerr":0,"x":564.0000076293945,"y":682,"wires":[["f25666bd.b27d68","19419d19.919a43"]]},{"id":"f25666bd.b27d68","type":"ui_chart","z":"df7df1e7.3c55e","name":"","group":"6ece3ce8.fdad64","order":2,"width":"16","height":"10","label":"Sentiment Analysis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#55747d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":684.0000076293945,"y":762,"wires":[[]]},{"id":"297ee15c.151c7e","type":"ui_form","z":"df7df1e7.3c55e","name":"","label":"","group":"6ece3ce8.fdad64","order":1,"width":0,"height":0,"options":[{"label":"Enter the text to know its sentiment","value":"senti","type":"text","required":true,"rows":null}],"formValue":{"senti":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":607.2000217437744,"wires":[["c738a920.4fa888"]]},{"id":"c738a920.4fa888","type":"function","z":"df7df1e7.3c55e","name":"","func":"msg.payload= msg.payload.senti\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":245,"y":647.2000122070312,"wires":[["2992d8f9.6a6a68"]]},{"id":"4102e5d9.94f02c","type":"ui_group","z":"","name":"sentiment","tab":"589cd267.23bfec","order":1,"disp":false,"width":"13","collapse":false},{"id":"6ece3ce8.fdad64","type":"ui_group","z":"","name":"","tab":"9b1420f6.cbf8","order":2,"disp":true,"width":"16","collapse":false},{"id":"589cd267.23bfec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9b1420f6.cbf8","type":"ui_tab","z":"","name":"Sentiment Analysis-new","icon":"dashboard","disabled":false,"hidden":false}]