Day 4/IOT.json
[{"id":"2211d4bc.ba1dfc","type":"ibmiot in","z":"9b8008ac.fa3918","authentication":"apiKey","apiKey":"19963160.af2fdf","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"surya","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":256.00000381469727,"y":152.00000190734863,"wires":[["108c074a.cf5289","5ab0ae51.86724","8452a39d.580c7","9291f102.95a8d"]]},{"id":"108c074a.cf5289","type":"debug","z":"9b8008ac.fa3918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710.6000556945801,"y":140.00000190734863,"wires":[]},{"id":"5ab0ae51.86724","type":"ui_gauge","z":"9b8008ac.fa3918","name":"","group":"2edaca65.1edf56","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"C","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":695.6000595092773,"y":95.60000801086426,"wires":[]},{"id":"8452a39d.580c7","type":"ui_gauge","z":"9b8008ac.fa3918","name":"","group":"5d01c34c.6ef8dc","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{msg.payload.humid}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":694.6000595092773,"y":181.60000228881836,"wires":[]},{"id":"9291f102.95a8d","type":"cloudant out","z":"9b8008ac.fa3918","name":"","cloudant":"217d96c3.f3a66a","database":"weather","service":"node-red-lbcob-2020--cloudant-1599557717921-78672","payonly":true,"operation":"insert","x":704.0000095367432,"y":221.00000286102295,"wires":[]},{"id":"19963160.af2fdf","type":"ibmiot","z":"","name":"surya","keepalive":"60","serverName":"oyps14.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2edaca65.1edf56","type":"ui_group","z":"","name":"Temperature","tab":"754c9570.20ef1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d01c34c.6ef8dc","type":"ui_group","z":"","name":"Humidity","tab":"754c9570.20ef1c","order":2,"disp":true,"width":"6","collapse":false},{"id":"217d96c3.f3a66a","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"754c9570.20ef1c","type":"ui_tab","z":"","name":"Weather Monitoring","icon":"dashboard","disabled":false,"hidden":false}]