Day 4/ML AutoAI.json
[{"id":"3b9e088c.f59488","type":"ui_form","z":"62285b09.f66144","name":"","label":"","group":"87bfaf07.dede2","order":1,"width":0,"height":0,"options":[{"label":"R&D Spent","value":"rd","type":"number","required":true,"rows":null},{"label":"Marketing Spent","value":"ms","type":"number","required":true,"rows":null},{"label":"Administration","value":"ad","type":"number","required":true,"rows":null},{"label":"State","value":"st","type":"text","required":true,"rows":null}],"formValue":{"rd":"","ms":"","ad":"","st":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["70cb2d63.67bee4","98ab6fa8.64348"]]},{"id":"70cb2d63.67bee4","type":"debug","z":"62285b09.f66144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":360,"wires":[]},{"id":"98ab6fa8.64348","type":"function","z":"62285b09.f66144","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"hy09Zi-sOMLtprz3G3MkJ-Ia2wXtkqC69gcEopKXzQ5k\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["60898512.72ddfc"]]},{"id":"60898512.72ddfc","type":"http request","z":"62285b09.f66144","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":264.00000286102295,"wires":[["fc95f2.bb09fa1","4c15f459.75930c"]]},{"id":"fc95f2.bb09fa1","type":"debug","z":"62285b09.f66144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"4c15f459.75930c","type":"function","z":"62285b09.f66144","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"R&D Spend\", \"Administration\", \"Marketing Spend\", \"State\"]],\"values\": [[rd,ad,ms,st]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":216.0000021457672,"wires":[["d313dd40.2222"]]},{"id":"d313dd40.2222","type":"http request","z":"62285b09.f66144","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/558272c2-b239-4235-bd6d-d0ca9d0b6a9c/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":240,"wires":[["56f2735.cd1498c","51723528.c42e2c"]]},{"id":"56f2735.cd1498c","type":"debug","z":"62285b09.f66144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"3328a3cb.753d4c","type":"inject","z":"62285b09.f66144","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["98ab6fa8.64348"]]},{"id":"40f0ccee.2db5a4","type":"debug","z":"62285b09.f66144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"51723528.c42e2c","type":"function","z":"62285b09.f66144","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":148.00000190734863,"wires":[["40f0ccee.2db5a4","476ccb7b.499174"]]},{"id":"476ccb7b.499174","type":"ui_text","z":"62285b09.f66144","group":"87bfaf07.dede2","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"87bfaf07.dede2","type":"ui_group","z":"","name":"New","tab":"2e1e8bfb.51a344","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e1e8bfb.51a344","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]